In [1]:
%matplotlib inline

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import pyodbc

# Data Acquisition
## Live Demos

In [15]:
accidents_data = pd.read_csv("data/accidents.csv")

In [18]:
accidents_data

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17

In [12]:
accidents_data.shape

(6, 2)

In [19]:
type(accidents_data)

pandas.core.frame.DataFrame

In [20]:
accidents_data.dtypes

Miles from Home    object
% of Accidents      int64
dtype: object

In [21]:
accidents_data.index

RangeIndex(start=0, stop=6, step=1)

In [22]:
accidents_data.columns

Index(['Miles from Home', '% of Accidents'], dtype='object')

In [26]:
mpg_data = pd.read_fwf("http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data", header = None)

In [27]:
mpg_data.columns = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "model year", "origin", "car name"]

In [28]:
mpg_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,"""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,"""buick skylark 320"""
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,"""plymouth satellite"""
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,"""amc rebel sst"""
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,"""ford torino"""
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,"""ford mustang gl"""
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,"""vw pickup"""
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,"""dodge rampage"""
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,"""ford ranger"""
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,"""chevy s-10"""

In [31]:
green_trip_data = pd.read_excel("data/green_tripdata_2015-09.xls")

In [34]:
book_data = pd.read_json("https://openlibrary.org/api/books?bibkeys=ISBN:9780345354907,ISBN:0881847690,LCCN:2005041555,ISBN:0060957905&format=json", orient = "index")

In [35]:
book_data

,bib_key,preview,thumbnail_url,preview_url,info_url
ISBN:9780345354907,ISBN:9780345354907,borrow,https://covers.openlibrary.org/b/id/207586-S.jpg,https://archive.org/details/caseofcharlesdex00...,https://openlibrary.org/books/OL9831606M/The_C...
ISBN:0881847690,ISBN:0881847690,borrow,https://covers.openlibrary.org/b/id/9871313-S.jpg,https://archive.org/details/watchersoutoftim00...,https://openlibrary.org/books/OL22232644M/Watc...
ISBN:0060957905,ISBN:0060957905,noview,https://covers.openlibrary.org/b/id/676505-S.jpg,https://openlibrary.org/books/OL6784868M/Tales...,https://openlibrary.org/books/OL6784868M/Tales...
LCCN:2005041555,LCCN:2005041555,borrow,https://covers.openlibrary.org/b/id/8259841-S.jpg,https://archive.org/details/atmountainsofmad00...,https://openlibrary.org/books/OL3421202M/At_th...

In [36]:
book_data.shape

(4, 5)

In [39]:
conn = pyodbc.connect("DRIVER={SQL Server};Server=.;Database=AdventureWorks;Integrated Security=True")

In [42]:
emails = pd.read_sql(
    """
    select person.FirstName, person.LastName, email.EmailAddress
    from Person.Person as person
    join Person.EmailAddress as email
    on person.BusinessEntityID = email.BusinessEntityID
    """,
    conn)

In [43]:
emails.shape

(19972, 3)

In [44]:
emails.dtypes

FirstName       object
LastName        object
EmailAddress    object
dtype: object

In [46]:
len(emails.LastName.unique())

1206

In [47]:
len(emails.LastName)

19972